fastapi
uvicorn
python-dotenv
pydantic
numpy
pandas
scikit-learn
joblib
requests
firebase-admin
python-multipart
passlib[bcrypt]==1.7.4
bcrypt==4.1.3
python-jose
SQLAlchemy
psycopg2-binary
email-validator